.option-group {
    padding-top: 10px;
}
.option {
    margin-bottom: 10px;
    padding-right: 20px;
}
.option-badge {
    line-height: 1.3rem;
    cursor: pointer;
}
.save-btn {
    margin-top: 10px;
}