<h4>
  Search
</h4>
<div *ngIf="!showResult" class="input-group search-bar">
  <input type="text" class="form-control" [(ngModel)]="searchTerm">
  <div class="input-group-append">
    <button class="btn btn-outline-dark" type="button" (click)="searchUser()">
      <span class="oi oi-magnifying-glass"></span>
    </button>
  </div>
</div>
<div *ngIf="showResult" class="result-list">
  <div *ngFor="let profile of profiles" class="card profile-card">
    <div class="card-body">
      <h5 class="card-title">{{profile.first_name+' '+profile.last_name}}</h5>
    </div>
  </div>
  <div *ngFor="let group of groups" class="card profile-card">
    <div class="card-body">
      <h5 class="card-title">{{group.name}}</h5>
      <p class="card-text">{{group.motto}}</p>
      <div class="btn-group">
        <button [disabled]="joinedAlready(group.name)" class="btn btn-sm btn-secondary" (click)="joinGroup(group.id)">Join</button>
        <button class="btn btn-sm btn-secondary" (click)="showGroup(group.id)">Show</button>
      </div>
    </div>
  </div>
  <button class="btn btn-sm btn-primary" (click)="cancelSearch()">Cancel</button>
</div>