.window-content {
    border: solid 1px blue;
    border-radius: 5px;
    padding: 7px;
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 10;
    text-align: center;
}

.number-info {
    margin: 0;
}

.confirm-btns {
    margin: 8px 0 5px 0;
}

.req-btn {
    height: 10px;
}

.footer-btn-left {
    padding-right: 8px;
}

.footer-btn-right {
    padding-left: 8px;
}