<div class="window-content">
  <div *ngIf="!confirmed">
    <p class="number-info">{{profiles.length}} profile(s) selected</p>
    <div class="btn-group confirm-btns">
      <button class="btn btn-primary btn-sm" (click)="confirmProfiles()">Confirm</button>
      <button class="btn btn-primary btn-sm" (click)="cancelProfiles()">Cancel</button>
    </div>
  </div>
  <div *ngIf="confirmed">
    <div *ngFor="let profile of profiles">
      <button *ngIf="isPending(profile.id)" 
              disabled type="button"
              class="btn-sm btn-warning">Pending</button>
      <button *ngIf="!isPending(profile.id) && !isFriend(profile.id)" 
              class="btn-sm btn-primary" 
              (click)="sendFriendRequest(profile.id)">Add Friend</button>
      <h3>{{profile.label}}</h3>
      <p>{{profile.label}}</p>
    </div>
    <button class="btn btn-primary btn-sm" (click)="cancelProfiles()">Cancel</button>
  </div>
</div>
