<div class="window-content">
  <div *ngIf="!confirmed">
    <p class="number-info">{{profiles.length}} profiles selected</p>
    <div class="btn-group confirm-btns">
      <button class="btn btn-primary btn-sm" (click)="confirmProfiles()">Confirm</button>
      <button class="btn btn-primary btn-sm" (click)="cancelProfiles()">Cancel</button>
    </div>
  </div>
  <div *ngIf="confirmed">
    <div *ngFor="let profile of profiles">
      <h3>{{profile.name}}</h3>
      <p>{{profile.username}}</p>
    </div>
    <button class="btn btn-primary btn-sm" (click)="cancelProfiles()">Cancel</button>
  </div>
</div>