.post {
    margin-bottom: 10px;
}

.like-area {
    /* text-align: right; */
}

.comment-area {
    background-color: gainsboro;
    padding: 8px;
    border-radius: 5px;
}

.comment-content {
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    margin: 8px 0 8px 0;
}

.image-carousel {
    height: 30vh;
    overflow: hidden;
    text-align: center;
}

.post-image {
    height: 30vh;
}