<app-info-window *ngIf="selectedProfiles?.length > 0" [profiles]="selectedProfiles" (cancelSelected)="cancelSelected()"></app-info-window>
<app-notification (update)="ngAfterViewInit()"></app-notification>

<div id="networkContainer" #networkContainer></div>
<div *ngIf="mode == 'level'" class="btn-group zoom-btns">
    <button class="btn btn-primary" (click)="changeLevel(true)">&#43;</button>
    <button class="btn btn-primary" (click)="changeLevel(false)">&#8722;</button>
</div>
<div class="btn-group mode-btns">
    <button class="btn btn-primary" (click)="showAll()">Show All</button>
    <button class="btn btn-primary" (click)="showLevel()">Show Levels</button>
</div>
