.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid #eee;
}

.menu-btns {
    margin: 70px 0 0 20px;
}

#signout-btn {
	position:fixed;
	bottom: 10px;
	left: 20px;
	color: black;
}

#signout-icon {
	width: 15px;
	height: 15px;
}

#back-btn {
	position:fixed;
	top: 10px;
	left: 20px;
	color: black;	
}

#back-icon {
	width: 15px;
	height: 15px;

}