<div class="modal-header">
  <h4 class="modal-title">Profile Information</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal('Close Button Clicked')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body profile-container">
  <h5><span *ngFor="let user of selectedUsers">{{' @' + user.first_name}}</span></h5>
    <div *ngIf="one" class="info-body-one">
      <pre class="motto">{{info.motto}}</pre>
      <pre class="disatnce">{{'(He is ' + info.distance + ' nodes away from you)'}}</pre>
      <pre class="group">
        <h6>Groups</h6>
        <h6><span *ngFor="let group of info.groups">{{group+' '}}</span></h6>
      </pre>
      <pre class="mutuals">
        <h6>Mutual Friends</h6>
        <h6><span *ngFor="let friend of info.mutual_friends">{{friend.name+' '}}</span></h6>
      </pre>
    </div>
    <div *ngIf="!one" class ="info-body-multi">
      <pre class="group">
        <h6>Mutual Groups</h6>
        <h6><span *ngFor="let group of info.groups">{{group+' '}}</span></h6>
      </pre>
    </div>
  <hr>
  <h4>Posts</h4>
  <div *ngFor="let post of posts" class="card post">
    <div class="card-body">
      <p class="card-text">
        {{post.content}}
      </p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span ngbAutoFocus></span> <!-- Invisible span to avoid focusing on any element -->
  <button type="button" class="btn btn-primary" (click)="writePost()">Write Post</button>
  <button type="button" class="btn btn-outline-dark"
          (click)="closeModal('Cancel Button Clicked')">Close</button>
</div>
