<div class="modal-header">
  <h4 class="modal-title">Write Post</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal('Close Button Clicked')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="input-group">
    <textarea class="form-control" rows="8" [(ngModel)]="content"></textarea>
  </div>
</div>
<div class="modal-footer">
  <span ngbAutoFocus></span> <!-- Invisible span to avoid focusing on any element -->
  <button type="button" class="btn btn-primary" (click)="submit()">Submit Post</button>
  <button type="button" class="btn btn-outline-dark"
          (click)="closeModal('Cancel Button Clicked')">Close</button>
</div>
  
